.jumbotron{
    background-color: #9C27B0 !important
}
.card-hotel{
    flex: 1 150px;
    margin: 10px 200px 2px 15px;
}
.btn-reserva{
    width: 100%;
}
footer{
    background: #7B1FA2;
    color:#fff;
}
footer a{
    color: #fff
}